.auth {
  height: 100%;
  &_form {
    padding: 0 32px;
    &__wrapper {
      margin: 60px auto;
      width: calc(100% - 30px);
      max-width: 474px;
      background-color: #fff;
      overflow: hidden;
    }
    &__body {
      height: 100%;
      padding: 16px 0;
      margin: 16px 0;
      overflow: auto;
    }
    &__header {
      padding: 0 32px;
      border-bottom: 1px solid #f1f1f1;
    }
    &__title {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 14px;
    }
    &__social {
      &-wrapper {
        background-color: $background;
        padding: 8px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-bottom: 24px;
      }
      &-text {
        color: #000;
        margin: 12px 32px 12px 0;
      }
      &-login {
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        li {
          @include circle(36px);
          overflow: hidden;
          background-color: #fff;
          &:not(:last-child) {
            margin-right: 8px;
          }
          button {
            @include none;
            border: 2px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            @include circle(100%);
            cursor: pointer;
            img {
              display: block;
              width: auto;
              height: auto;
              margin: 0;
            }
          }
        }
      }
    }
    &__input {
      &-wrapper {
        margin-bottom: 20px;
      }
    }
    &__checkbox {
      &-wrapper {
        margin-bottom: 32px;
      }
    }
    &__button {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}