@mixin inherit() {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

@mixin circle($diam) {
  width: $diam;
  height: $diam;
  border-radius: 50%;
}

@mixin none() {
  appearance: none;
  box-shadow: none;
  outline: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@mixin transition($p1, $p2: null, $p3: null) {
  transition: $p1 $aT $timing;

  @if $p2 {
    transition: $p1 $aT $timing, $p2 $aT $timing;
  }

  @if $p3 {
    transition: $p1 $aT $timing, $p2 $aT $timing, $p3 $aT $timing;
  }
}

@mixin placeholder_animated($color: inherit) {
  &::-webkit-input-placeholder {
    color: $color;
    transition: color $aT $timing;
  }

  &::-moz-placeholder {
    color: $color;
    transition: color $aT $timing;
  }

  &:-ms-input-placeholder {
    color: $color;
    transition: color $aT $timing;
  }

  &:-moz-placeholder {
    color: $color;
    transition: color $aT $timing;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }

    &:-moz-placeholder {
      color: transparent;
    }
  }
}