$border: #D4D4D4;
$background: #FAFAFA;
$purple: #6E41E2;
$grey: #6B6B6B;
$default: #111;
$placeholder: rgba($default, 0.48);
$box-shadow: #333;
$green: #CBECD9;
$red: #DB524E;
$redb: #F9E3E3;
$yellow: #FFF5C0;
$duration: 0.3s;
$timing: ease;

@import "mixins";