@import "vars";
@import "fonts";

body {
	text-rendering: optimizeSpeed;
	background: #fff;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	color: $default;
	font-weight: normal;
	overflow-x: hidden;
	user-select: none;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	@include inherit;

	&:before,
	&:after {
		box-sizing: border-box;
		@include inherit;
	}
}

ul,
ol {
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button,
a,
input,
select,
textarea {
	outline: none !important;
}

option {
	cursor: pointer;
	@include inherit;
}

//Parts
.page {
	min-height: 100vh;
	&-grey {
		background-color: #F2F2F2;
	}
}
.full-height {
	padding: 11px 0;
}
.block {
	display: block;
}
.border {
	border-radius: 8px;
}
.shadow {
	box-shadow: 0 4px 16px rgba($box-shadow, 0.08),
				0 4px 4px rgba($box-shadow, 0.04);
}
.text {
	color: #000;
	font-size: 16px;
	line-height: 24px;
	a { @include link($purple)}
	&-small {
		font-size: 13px;
		line-height: 20px;
	}
}
.container {
	padding: 0 24px;
	max-width: 1312px;
	margin: 0 auto;
	@media only screen and (max-width: 1366px) {
		max-width: unset;
	}
}
@import "header";
@import "parts/main";
//Parts end
// Pages
@import "auth/main";
// Pages end
@import "_media";