.button {
  @include none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 18px;
  border-radius: 4px;
  @include transition(all);
  &[disabled] {
    cursor: default;
    pointer-events: none!important;
  }
  &-default {
    color: #fff;
    background-color: $purple;
    border: 2px solid $purple;
    &:focus {
      background-color: $purple;
      border-color: darken(desaturate($purple, 21.87), 21.37);
    }
    &:focus-within,
    &:hover {
      background-color: darken(desaturate($purple, 19.80), 12.16);
      border-color: darken(desaturate($purple, 19.80), 12.16);
    }
    &:active {
      background-color: darken(desaturate($purple, 21.87), 21.37);
      border-color: darken(desaturate($purple, 21.87), 21.37);
    }
    &[disabled] {
      background-color: lighten(desaturate(adjust-hue($purple, 1), 1.42), 34.51);
      border-color: lighten(desaturate(adjust-hue($purple, 1), 1.42), 34.51);
    }
  }
  &-white {
    color: $purple;
    background-color: #fff;
    border: 2px solid #fff;
    &:focus {
      background-color: #fff;
      border-color: darken(desaturate($purple, 21.87), 21.37);
    }
    &:focus-within,
    &:hover {
      background-color: lighten(desaturate(adjust-hue($purple, -1), 3.15), 37.65);
      border-color: lighten(desaturate(adjust-hue($purple, -1), 3.15), 37.65);
    }
    &:active {
      color: $purple;
      background-color: #fff;
      border-color: darken(desaturate($purple, 21.87), 21.37);
    }
    &[disabled] {
      color: $purple;
      background-color: lighten(desaturate($purple, 0.02), 10.39);
      border-color: lighten(desaturate($purple, 0.02), 10.39);
    }
  }
  &-border {
    color: $purple;
    background-color: #fff;
    border: 1px solid $purple;
    padding: 9px 19px;
    &:focus {
      padding: 8px 18px;
      border: 2px solid rgba($default, 0.48);
    }
    &:focus-within,
    &:hover {
      background-color: rgba($purple, 0.04);
      border-color: $purple;
    }
    &:active {
      padding: 9px 19px;
      background-color: rgba($purple, 0.08);
      border: 1px solid $purple;
    }
    &[disabled] {
      opacity: 0.56;
    }
  }
}